.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-300);
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  gap: 8px;
}

.content{
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 16px;
  margin: 0 20px;
}

.button {
  border: 0;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 16px;
  border-radius: 4px;
  background-color: var(--green-100);
  color: var(--neutral-400);
  margin-left: 8px;
  transition: opacity 150ms;
}

.button:hover {
  opacity: 0.75;
}
.completed {
  text-decoration: line-through var(--green-100);
  color: var(--neutral-200);
}

.input {
  border: 0;
  height: 40px;
  font-size: 16px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: var(--neutral-300);
  color: var(--green-100);
  width: 100%;
}

.input::placeholder {
  color: var(--neutral-200);
}